footer {
  width: 100%;
}

footer > img {
  width: 100%;
  height: 80px;
  object-fit: fill;
  display: block;
}

#footer_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 8%;
}

@media screen and (max-width: 600px) {
  footer > img {
    height: 80px;
  }

  #footer_items {
    flex-direction: column;
    gap: 20px;
  }
}
