#testimonials {
  min-height: calc(100vh - 91px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

#testimonial_chef {
  width: 500px;
  height: auto;
  transform: translateX(-40px);
}

#testimonials .section-subtitle {
  font-size: 3rem;
}

.feedback-content {
  width: 100%;
}

#testimonial_content .btn-default {
  display: block;
  margin: 0 auto;
}

#feedbacks {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
  margin-top: 30px;
}
.feedback {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #ffffff;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}
.feedback-avatar {
  width: 100px;
  height: 100px;
  object-fit: contain;
  flex-shrink: 0;
}

.feedback-content p {
  display: flex;
  justify-content: space-between;
}

.feedback-content p span {
  color: #e9a209;
}

@media screen and (max-width: 1170px) {
  #testimonials {
    flex-direction: column;
  }

  #testimonials .section-subtitle {
    text-align: center;
    font-size: 2.5rem;
  }

  #testimonial_chef {
    display: block;
    width: 400px;
    height: auto;
    transform: none;
  }

  #testimonial_content {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  #testimonials .section-subtitle {
    font-size: 1.7rem;
  }

  #testimonial_chef {
    width: 280px;
    height: auto;
    transform: translateX(-11px);
  }

  #testimonial_content {
    width: 100%;
  }

  .feedback {
    flex-direction: column;
  }

  .feedback-content p:first-child {
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
  }
}
